.bg-img { 
    background-image: url("../images/fundo.jpg") ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;

}

.bg-content {
   background-color: rgba(200,200,200,0.70);
}