<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ .Site.Params.description }}">

	<title>{{ .Site.Title }}</title>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css">
	<link rel="stylesheet" href="/css/pgbr.css">

	<meta property="og:url" content="{{ .Site.BaseURL }}">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ .Site.Title }}">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">
	<meta property="og:description" content="{{ .Site.Params.description }}">

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@jgthms">
	<meta name="twitter:creator" content="@jgthms">
	<meta name="twitter:title" content="{{ .Site.Title }}">
	<meta name="twitter:description" content="{{ .Site.Params.description }}">

	<link rel="icon " type="image/png " href="/images/favicon.png ">
</head>

<body class="page-layout ">
	<section class="hero is-fullheight ">
		<!-- Hero header: will stick at the top -->
		<div class="hero-head ">
			<header class="nav ">
				<div class="container ">
					<div class="nav-left ">
						<span class="nav-item ">
                            <h1>{{ .Site.Title }}</h1>
                        </span>
					</div>
					<span class="nav-toggle ">
          <span></span>
					<span></span>
					<span></span>
					</span>
					<div class="nav-right nav-menu ">
						<a class="nav-item is-active " href="# ">
            Home
          </a>
						<span class="nav-item ">
                            <a class="button is-info is-inverted " target="_blank " href="https://twitter.com/postgresqlbr ">
                                <span class="icon ">
                                    <i class="fa fa-twitter "></i>
                                </span>
						</a>
						</span>
						<span class="nav-item ">
                            <a class="button is-info is-inverted " target="_blank " href="https://github.com/pgbr/www-2017 ">
                                <span class="icon ">
                                    <i class="fa fa-github "></i>
                                </span>
						<span>Ajude-nos!</span>
						</a>
						</span>
					</div>
				</div>
			</header>
		</div>

		<!-- Hero content: will be in the middle -->
		<div class="hero-body bg-img ">
			<div class="container has-text-centered notification bg-content ">
				<img src="/images/logo.png " style="height: 350px; ">
				<h1 class="title is-2 "><b>{{ .Site.Title }}:</b> {{ .Site.Params.description }}</h1>
				<hr/>
				<h2 class="subtitle is-2 ">
					<i>Novidades em breve!</i>
				</h2>
			</div>
		</div>
	</section>
</body>

</html>