<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Conferência Brasileira de PostgreSQL.">

	<title>#PGBR2017</title>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css">
	<link rel="stylesheet" href="/css/pgbr.css">

	<!--<link rel="canonical" href="http://bulma.io/documentation/layout/hero/">
	<link rel="alternate" type="application/rss+xml" title="Bulma: a modern CSS framework based on Flexbox" href="http://bulma.io/feed.xml">-->

	<meta property="og:url" content="http://bulma.io">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Bulma: a modern CSS framework based on Flexbox">
	<meta property="og:image" content="http://bulma.io/images/bulma-banner.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">
	<meta property="og:description" content="Bulma is an open source CSS framework based on Flexbox and built with Sass. It's 100% responsive, fully modular, and available for free.">

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@jgthms">
	<meta name="twitter:creator" content="@jgthms">
	<meta name="twitter:title" content="Bulma: a modern CSS framework based on Flexbox">
	<meta name="twitter:image" content="http://bulma.io/images/bulma-banner.png">
	<meta name="twitter:description" content="Bulma is an open source CSS framework based on Flexbox and built with Sass. It's 100% responsive, fully modular, and available for free.">

	<!--<link rel="apple-touch-icon" sizes="180x180" href="http://bulma.io/favicons/apple-touch-icon.png?v=201609251738">-->
	<link rel="icon" type="image/png" href="/images/favicon.png">
</head>

<body class="page-layout">
	<section class="hero is-fullheight">
		<!-- Hero header: will stick at the top -->
		<div class="hero-head">
			<header class="nav">
				<div class="container">
					<div class="nav-left">
						<span class="nav-item">
                            <h1>#PGBR2017</h1>
                        </span>
					</div>
					<span class="nav-toggle">
          <span></span>
					<span></span>
					<span></span>
					</span>
					<div class="nav-right nav-menu">
						<a class="nav-item is-active" href="#">
            Home
          </a>
						<span class="nav-item">
                            <a class="button is-info is-inverted" target="_blank" href="https://twitter.com/postgresqlbr">
                                <span class="icon">
                                    <i class="fa fa-twitter"></i>
                                </span>
						</a>
						</span>
						<span class="nav-item">
                            <a class="button is-info is-inverted" target="_blank" href="https://github.com/pgbr/www-2017">
                                <span class="icon">
                                    <i class="fa fa-github"></i>
                                </span>
						<span>Ajude-nos!</span>
						</a>
						</span>
					</div>
				</div>
			</header>
		</div>

		<!-- Hero content: will be in the middle -->
		<div class="hero-body bg-img">
			<div class="container has-text-centered">
				<img src="/images/logo.png" style="height: 350px">
				<h1 class="title is-large">Conferência PostgreSQL</h1>
				<!--<h1 class="title">
					PGBR 2017
				</h1>-->
				<h2 class="subtitle is-medium">
					Novidades em breve!
				</h2>
			</div>
		</div>
	</section>
</body>

</html>